body{
    background-color: darkcyan;
}
.form {
    background-color: whitesmoke;
    text-align: center;
    position: auto;
    margin: 50px;
    padding: 50px;
}

.showDeta{
    background-color: grey;
    text-align: center;
    position: 50px;
    margin: 30px;
    padding: 30px;
}